In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('Cardetails.csv')

In [3]:
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0

In [4]:
df.shape

(8128, 13)

In [5]:
df['name'].nunique()

2058

In [6]:
data = df.drop(columns =['torque'])

In [7]:
data.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,5.0

In [8]:
df[['Brand', 'Model']] = df['name'].str.split(n=1, expand=True)

In [9]:
data[['Brand' , 'Model']] = df['name'].str.split(n=1 , expand=True)

In [10]:
data.sample(5)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats,Brand,Model
138,BMW X1 sDrive 20D xLine,2017,2150000,27000,Diesel,Dealer,Automatic,First Owner,NaN,NaN,NaN,NaN,BMW,X1 sDrive 20D xLine
1802,Chevrolet Enjoy TCDi LS 8 Seater,2014,190000,139000,Diesel,Individual,Manual,Second Owner,18.2 kmpl,1248 CC,73.8 bhp,8.0,Chevrolet,Enjoy TCDi LS 8 Seater
4027,Chevrolet Spark 1.0 LT,2011,190000,20000,Petrol,Individual,Manual,Second Owner,18.0 kmpl,995 CC,62 bhp,5.0,Chevrolet,Spark 1.0 LT
6729,Maruti Swift VDI,2012,425000,56000,Diesel,Individual,Manual,Second Owner,22.9 kmpl,1248 CC,74 bhp,5.0,Maruti,Swift VDI
393,Hyundai Verna 1.6 SX CRDi (O),2014,535000,70000,Diesel,Individual,Manual,Third Owner,22.32 kmpl,1582 CC,126.32 bhp,5.0,Hyundai,Verna 1.6 SX CRDi (O)

In [11]:
data.drop(columns =['name'] , inplace =True)

In [12]:
data.sample(5)

,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats,Brand,Model
356,2009,215000,60000,Petrol,Dealer,Manual,First Owner,20.36 kmpl,1197 CC,78.9 bhp,5.0,Hyundai,i10 Sportz
431,2015,409999,135000,Diesel,Individual,Manual,Second Owner,24.4 kmpl,1120 CC,71.01 bhp,5.0,Hyundai,Xcent 1.1 CRDi S Option
1845,2013,310000,70000,Diesel,Individual,Manual,First Owner,25.0 kmpl,1396 CC,69 bhp,5.0,Tata,Indigo eCS VX BSIV
3740,2016,360000,100000,Diesel,Individual,Manual,Second Owner,25.32 kmpl,1198 CC,77 bhp,6.0,Mahindra,KUV 100 mFALCON D75 K2 Plus
1518,2017,500000,35000,Diesel,Individual,Manual,First Owner,28.4 kmpl,1248 CC,74 bhp,5.0,Maruti,Swift DDiS LDI

In [13]:
data.isnull().sum()

year               0
selling_price      0
km_driven          0
fuel               0
seller_type        0
transmission       0
owner              0
mileage          221
engine           221
max_power        215
seats            221
Brand              0
Model              0
dtype: int64

In [14]:
data.dtypes

year               int64
selling_price      int64
km_driven          int64
fuel              object
seller_type       object
transmission      object
owner             object
mileage           object
engine            object
max_power         object
seats            float64
Brand             object
Model             object
dtype: object

In [15]:
X = data.drop(columns = ['selling_price'])
Y = data['selling_price']

In [16]:
from sklearn.model_selection import train_test_split
X_train , X_test, Y_train , Y_test = train_test_split(X , Y , test_size= 0.20 , random_state =42)

In [17]:
X

,year,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats,Brand,Model
0,2014,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,5.0,Maruti,Swift Dzire VDI
1,2014,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,5.0,Skoda,Rapid 1.5 TDI Ambition
2,2006,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,5.0,Honda,City 2017-2020 EXi
3,2010,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,5.0,Hyundai,i20 Sportz Diesel
4,2007,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,5.0,Maruti,Swift VXI BSIII
...,...,...,...,...,...,...,...,...,...,...,...,...
8123,2013,110000,Petrol,Individual,Manual,First Owner,18.5 kmpl,1197 CC,82.85 bhp,5.0,Hyundai,i20 Magna
8124,2007,119000,Diesel,Individual,Manual,Fourth & Above Owner,16.8 kmpl,1493 CC,110 bhp,5.0,Hyundai,Verna CRDi SX
8125,2009,120000,Diesel,Individual,Manual,First Owner,19.3 kmpl,1248 CC,73.9 bhp,5.0,Maruti,Swift Dzire ZDi
8126,2013,25000,Diesel,Individual,Manual,First Owner,23.57 kmpl,1396 CC,70 bhp,5.0,Tata,Indigo CR4
8127,2013,25000,Diesel,Individual,Manual,First Owner,23.57 kmpl,1396 CC,70 bhp,5.0,Tata,Indigo CR4

In [28]:
from sklearn.preprocessing import LabelEncoder
Le =LabelEncoder()
data['fuel'] =Le.fit_transform(data['fuel'])

0       1
1       1
2       3
3       1
4       3
       ..
8123    3
8124    1
8125    1
8126    1
8127    1
Name: fuel, Length: 8128, dtype: int32

In [ ]:
from sklearn.preprocessing import OneHotEncoder
Oe =OneHotEncoder()
data['Brand'] =Le.fit_transform(data['Brand'])

In [27]:

data['Brand'] =Le.fit_transform(data['Brand'])
data['Brand'] =Le.fit_transform(data['Brand'])

In [22]:
data.isnull().sum()

year               0
selling_price      0
km_driven          0
fuel               0
seller_type        0
transmission       0
owner              0
mileage          221
engine           221
max_power        215
seats            221
Brand              0
Model              0
dtype: int64

In [28]:
df.isnull().sum()

name               0
year               0
selling_price      0
km_driven          0
fuel               0
seller_type        0
transmission       0
owner              0
mileage          221
engine           221
max_power        215
torque           222
seats            221
Brand              0
Model              0
dtype: int64

In [29]:
def clean_data(value):
    if isinstance(value, str):  # Check if the value is a string
        value = value.split(' ')  # Split the string into a list of substrings
        value = value[0]  # Get the first element of the list
        value = value.strip()  # Strip whitespace from the string
    else:
        value = str(value)  # Convert non-string values to string
    if value == '':
        value = 0  # Replace empty strings with 0
    return value

In [76]:
data['mileage'] = data['mileage'].replace(regex=True, to_replace=r'[^0-9.]', value='').astype(float)

In [77]:
data['engine'] = data['engine'].replace(regex=True, to_replace=r'[^0-9.]', value='').astype(float)
data['max_power'] = data['max_power'].replace(regex=True, to_replace=r'[^0-9.]', value='').astype(float)

In [95]:
data.isnull().sum()

year               0
selling_price      0
km_driven          0
fuel               0
seller_type        0
transmission       0
owner              0
mileage          221
engine           221
max_power        215
seats            221
Brand              0
Model              0
dtype: int64

In [96]:
data.dropna(inplace=True)

In [97]:
data.isnull().sum()

year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
mileage          0
engine           0
max_power        0
seats            0
Brand            0
Model            0
dtype: int64

In [ ]:
from sklearn.impute import SimpleImputer
SI =SimpleImputer(strategy='most_frequent')

In [79]:
data.dtypes

year               int64
selling_price      int64
km_driven          int64
fuel              object
seller_type       object
transmission      object
owner             object
mileage          float64
engine           float64
max_power        float64
seats            float64
Brand             object
Model             object
dtype: object

In [80]:
data.dtypes

year               int64
selling_price      int64
km_driven          int64
fuel              object
seller_type       object
transmission      object
owner             object
mileage          float64
engine           float64
max_power        float64
seats            float64
Brand             object
Model             object
dtype: object

In [81]:
data.dtypes

year               int64
selling_price      int64
km_driven          int64
fuel              object
seller_type       object
transmission      object
owner             object
mileage          float64
engine           float64
max_power        float64
seats            float64
Brand             object
Model             object
dtype: object

In [82]:
data.sample(2)

,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats,Brand,Model
2426,2015,978999,90000,Diesel,Individual,Manual,First Owner,19.67,1582.0,126.2,5.0,Hyundai,Creta 1.6 CRDi SX
5887,2012,330000,40000,Diesel,Individual,Manual,Second Owner,23.00,1396.0,90.0,5.0,Hyundai,i20 1.4 CRDi Sportz

In [83]:
data['Model'].unique()

array(['Swift Dzire VDI', 'Rapid 1.5 TDI Ambition', 'City 2017-2020 EXi',
       ..., 'Nexon 1.5 Revotorq XT',
       'Freestyle Titanium Plus Diesel BSIV',
       'Innova 2.5 GX (Diesel) 8 Seater BS IV'], dtype=object)

In [84]:
data['transmission'].unique()

array(['Manual', 'Automatic'], dtype=object)

In [85]:
data['owner'].unique()

array(['First Owner', 'Second Owner', 'Third Owner',
       'Fourth & Above Owner', 'Test Drive Car'], dtype=object)

In [86]:
data['seller_type'].unique()

array(['Individual', 'Dealer', 'Trustmark Dealer'], dtype=object)

In [87]:
data['Brand'].unique()

array(['Maruti', 'Skoda', 'Honda', 'Hyundai', 'Toyota', 'Ford', 'Renault',
       'Mahindra', 'Tata', 'Chevrolet', 'Fiat', 'Datsun', 'Jeep',
       'Mercedes-Benz', 'Mitsubishi', 'Audi', 'Volkswagen', 'BMW',
       'Nissan', 'Lexus', 'Jaguar', 'Land', 'MG', 'Volvo', 'Daewoo',
       'Kia', 'Force', 'Ambassador', 'Ashok', 'Isuzu', 'Opel', 'Peugeot'],
      dtype=object)

In [88]:
data['fuel'].unique()

array(['Diesel', 'Petrol', 'LPG', 'CNG'], dtype=object)

In [89]:
from sklearn.preprocessing import OrdinalEncoder
OE = OrdinalEncoder()

In [90]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()

In [91]:
data.isnull().sum()

year               0
selling_price      0
km_driven          0
fuel               0
seller_type        0
transmission       0
owner              0
mileage          221
engine           221
max_power        215
seats            221
Brand              0
Model              0
dtype: int64

In [92]:
from sklearn.impute import SimpleImputer
SI =SimpleImputer(strategy='most_frequent')

In [117]:
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder

# Assuming OE is an already instantiated OrdinalEncoder
# Assuming 'OE' is an instantiated OrdinalEncoder
column_trans = make_column_transformer(
    (OneHotEncoder(sparse=False, drop='first'), ['Brand', 'Model', 'fuel']),
    (OrdinalEncoder(categories=OE.categories), ['transmission', 'seller_type', 'owner']),
    remainder='passthrough'
)

In [118]:
column_trans.fit(X_train)

C:\Users\solan\anaconda1\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

ColumnTransformer(remainder='passthrough',
                  transformers=[('onehotencoder',
                                 OneHotEncoder(drop='first', sparse=False),
                                 ['Brand', 'Model', 'fuel']),
                                ('ordinalencoder', OrdinalEncoder(),
                                 ['transmission', 'seller_type', 'owner'])])

In [122]:
transformed_data=column_trans.fit_transform(X_train)

C:\Users\solan\anaconda1\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [123]:
column_trans.fit_transform(X_test).shape

C:\Users\solan\anaconda1\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

(1626, 896)

In [134]:
column_trans.fit_transform(X_train).shape

C:\Users\solan\anaconda1\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

(6502, 1932)

In [128]:
data.sample(5)

,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats,Brand,Model
76,2013,450000,120000,Diesel,Individual,Manual,Second Owner,22.90,1248.0,74.00,5.0,Maruti,Swift Star VDI
2499,2014,425000,65000,Diesel,Individual,Manual,First Owner,25.20,1248.0,74.00,5.0,Maruti,Swift VDI BSIV
961,2017,850000,63186,Diesel,Individual,Manual,First Owner,22.54,1396.0,88.73,5.0,Hyundai,i20 1.4 Asta Option
4195,2019,1460000,5000,Diesel,Individual,Manual,First Owner,17.30,1497.0,121.00,7.0,Mahindra,Marazzo M8
6147,2018,750000,60000,Diesel,Individual,Manual,First Owner,16.50,1493.0,70.00,7.0,Mahindra,Bolero 2011-2019 mHAWK D70 ZLX

In [130]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(sparse=False , dtype=np.int32)

In [131]:
X_train_n = ohe.fit_transform(X_train[['seller_type' ,'transmission' , 'fuel' , 'owner' ,'Brand' ,'Model']])

C:\Users\solan\anaconda1\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [132]:
X_test_n = ohe.fit_transform(X_test[['seller_type' ,'transmission' , 'fuel' , 'owner' ,'Brand' ,'Model']])

C:\Users\solan\anaconda1\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [133]:
X_train_n.shape

(6502, 1936)

In [135]:
X_train

,year,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats,Brand,Model
6518,2019,2560,Petrol,Individual,Automatic,First Owner,24.0 kmpl,1199 CC,83.81 bhp,5.0,Tata,Tiago NRG Petrol AMT
6144,2013,80000,Petrol,Individual,Manual,Second Owner,19.4 kmpl,1198 CC,86.8 bhp,5.0,Honda,Brio S MT
6381,2011,150000,Diesel,Individual,Manual,Fourth & Above Owner,23.0 kmpl,1396 CC,90 bhp,5.0,Hyundai,i20 1.4 CRDi Asta
438,2013,120000,Diesel,Individual,Manual,Second Owner,23.4 kmpl,1248 CC,74 bhp,5.0,Maruti,Swift Dzire VDI
5939,2017,25000,Petrol,Individual,Manual,First Owner,23.95 kmpl,998 CC,67.05 bhp,5.0,Maruti,Alto K10 VXI
...,...,...,...,...,...,...,...,...,...,...,...,...
5226,2009,120000,Diesel,Individual,Manual,First Owner,12.05 kmpl,2179 CC,120 bhp,7.0,Mahindra,Scorpio 2006-2009 VLX 2WD 7 Str BSIII
5390,2014,80000,Diesel,Individual,Manual,Second Owner,23.4 kmpl,1248 CC,74 bhp,5.0,Maruti,Swift Dzire VDI
860,2016,35000,Petrol,Individual,Manual,First Owner,18.6 kmpl,1197 CC,81.83 bhp,5.0,Hyundai,i20 Asta Option 1.2
7603,2019,27000,Diesel,Individual,Manual,First Owner,28.4 kmpl,1248 CC,74.02 bhp,5.0,Maruti,Swift Dzire VDI
7270,2006,70000,Petrol,Individual,Manual,Second Owner,16.1 kmpl,796 CC,37 bhp,4.0,Maruti,800 AC