In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_csv("heart_disease_data.csv")

In [6]:
df.sample(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
143,67,0,0,106,223,0,1,142,0,0.3,2,2,2,1
228,59,1,3,170,288,0,0,159,0,0.2,1,0,3,0
92,52,1,2,138,223,0,1,169,0,0.0,2,4,2,1
110,64,0,0,180,325,0,1,154,1,0.0,2,0,2,1
197,67,1,0,125,254,1,1,163,0,0.2,1,2,3,0

In [8]:
df.shape

(303, 14)

In [13]:
df.nunique()

age          41
sex           2
cp            4
trestbps     49
chol        152
fbs           2
restecg       3
thalach      91
exang         2
oldpeak      40
slope         3
ca            5
thal          4
target        2
dtype: int64

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [15]:
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [17]:
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [18]:
df['target'].value_counts()

target
1    165
0    138
Name: count, dtype: int64

# 1 --> Defective Heart

# 0 --> Healthy Heart

In [28]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train, Y_test =train_test_split(df.drop(columns=['target']), df['target'],test_size=0.20,random_state=42 ,stratify=df['target'] )

In [29]:
X_train.shape

(242, 13)

In [30]:
X_test.shape

(61, 13)

In [31]:
from sklearn.linear_model import LogisticRegression
logreg=LogisticRegression()

In [32]:
logreg.fit(X_train,Y_train)

C:\Users\solan\anaconda1\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [35]:
#accuracy on training data 
from sklearn.metrics import accuracy_score

In [36]:
X_pred=logreg.predict(X_train)
training_data_acc = accuracy_score(X_pred,Y_train)

In [37]:
print("accuracy on training data :", training_data_acc)

accuracy on training data : 0.8388429752066116

In [38]:
## acc on test data

In [39]:
X_test_pred = logreg.predict(X_test)
test_data_acc = accuracy_score(X_test_pred,Y_test)

In [40]:
print("test_data_acc : " , test_data_acc)

test_data_acc :  0.8032786885245902

In [41]:
df.sample(2)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
40,51,0,2,140,308,0,0,142,0,1.5,2,1,2,1
65,35,0,0,138,183,0,1,182,0,1.4,2,0,2,1

# buidling a predictive system

In [46]:
input_data = (62,1,0,140,180,250,0,1,150,0,1.7,2,1)

input_data_as_numpy_array = np.asarray(input_data)
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)
prediction = logreg.predict(input_data_reshaped)
print(prediction)

if (prediction[0]==0):
    print("the person is not  having a hear disease")
else:
    print("person is having a heart disease ")

[0]
the person is not  having a hear disease

C:\Users\solan\anaconda1\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(