In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
df =pd.read_csv("diabetes_data.csv" , )

NameError: name 'feature_names' is not defined

In [7]:
df.head()

    59 2 32.1 101.0 157 93.2 38.0 4.0 4.8598 87
0   48 1 21.6 87.0 183 103.2 70.0 3.0 3.8918 69
1    72 2 30.5 93.0 156 93.6 41.0 4.0 4.6728 85
2   24 1 25.3 84.0 198 131.4 40.0 5.0 4.8903 89
3  50 1 23.0 101.0 192 125.4 52.0 4.0 4.2905 80
4    23 1 22.6 89.0 139 64.8 61.0 2.0 4.1897 68